.side-content
  .side-header
    %p.side-header__user-name
      = current_user.name
    .side-header__icons
      = link_to new_group_path, class: "iconcolor" do
        = fa_icon 'pencil-square-o'
      = link_to edit_user_path(current_user), class: "iconcolor" do
        = fa_icon 'cog'

  .side-groups
    - @groups.each do |group|
      .side-group
        .side-group__name
          = group.name
        .side-group__message
          = group.show_last_message

.main-content
  .main-header
    .left
      .left__selected-group
        = @group.name
      .left__members
        = "Members : " + current_user.name
    .right
      = link_to edit_group_path(@group.id), class: "edit" do
        = "Edit"
  .main-body
    .main-posts
      - @messages.each do |message|
        .message
          .message-header
            .message-header__name
              = message.user.name
            .message-header__time
              = message.created_at
          .message__content
            = message.content

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
